@use "main" as MAIN

*
    outline: 1px solid red
    outline-offset: -1px

html
    @extend .element
    font-size: calc(12px + 0.5vw)
    height: 100%

body
    @extend .element
    @include MAIN.createFlexDisplay(column)
    height: 100%

h1
    @extend .element
    font-family: MAIN.$primaryfontset
    font-size: 3.5rem
    font-weight: normal

h2
    @extend h1
    font-size: 2.5rem

h3
    @extend h1
    font-size: 2rem

p
    @extend .element
    font-family: MAIN.$secondaryfontset
    font-size: 1.3rem

a
    @extend .element
    display: inline-block
    color: inherit
    text-decoration: none

    &:hover
        text-decoration: underline

canvas
    height: 100%
    width: 100%

figure
    @extend .element

.document_head
    @extend .element
    flex: 1

    > nav
        @extend .element
        @include MAIN.createFlexDisplay(row, center)
        align-items: center
        @include MAIN.large_viewport()
            justify-content: flex-end
        height: 100%

        > a
            padding: 0.5rem 1rem
            margin: 0px 1.5vw
    
.document_body
    @extend .element
    flex: 6

.simplecontent
    @extend body

    > .spotlight
        height: 100%
        width: 100%
        position: fixed
        z-index: -1

    > .content
        @extend body
        align-items: center
        justify-content: center
        padding: 1vw 2vw 0vw
        height: 100%
