{{ define "main" }}
    <section class='complexcontent'>
        {{ with .Page.Params.spotlight_type }}
            {{ if eq . "canvas" }}
                <figure class='spotlight'>
                    <canvas id='spotlight'></canvas>
                </figure>
            {{ end }}
        {{ end }}
        {{ if eq (len .Page.RegularPages) 0 }}
            <section class='content'>
                {{ .Content }}
            </section>
        {{ else }}
            <nav class='list'>
                {{ range .Page.RegularPages }}
                    <a href='{{ .Page.Permalink }}'>
                        <figure class='content-button'>
                            <img src='{{ relURL .Page.Params.spotlight }}' />
                            <figcaption>
                                <h3>{{ .Page.Title }}</h3>
                                <p>{{ .Page.Date.Format "Monday, January 2, 2006" }}</p>
                            </figcaption>
                        </figure>
                    </a>
                {{ end }}
            </nav>
            <aside class='side'>
                <ul class='tags'>
                    {{ range $pluralkey, $pluralvalue := .Site.Taxonomies }}
                        <li class='normal-tags'>
                            <p>{{ title $pluralkey }}</p>
                            <ul>
                                {{ range $singularkey, $singularvalue := $pluralvalue }}
                                    <li>
                                        <a href='{{ $singularvalue.Page.Permalink }}'>
                                            <p>{{ replace (title $singularkey) "-" " " }}</p>
                                        </a>
                                    </li>
                                {{ end }}
                            </ul>
                        </li>
                    {{ end }}
                </ul>
            </aside>
        {{ end }}
    </section>
{{ end }}
{{ define "postscripts" }}
    {{ with .Page.Params.spotlight_type }}
        {{ if eq . "canvas" }}
            {{ range $.Page.Params.spotlight }}
                <script type='text/javascript' src='{{ relURL . }}'></script>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}