{{ define "main" }}
    <section class='complexcontent'>
        <article class='content'>
            <header>
                {{ if ne .Page.Params.spotlight "images/noimage.jpg" }}
                    <figure>
                        <img src='{{ relURL .Page.Params.spotlight }}' />
                    </figure>
                {{ end }}
                <section class='introduction'>
                    <h1>{{ .Page.Title }}</h1>
                    <p>&nbsp;&bull; {{ .Page.Date.Format "Monday, January 2, 2006" }}</p>
                </section>
                <nav class='tags'>
                    {{ range (.GetTerms "categories") }}
                        <a class='tag-button' href='{{ .Permalink }}'>
                            <p>{{ .LinkTitle }}</p>
                        </a>
                    {{ end }}
                    {{ range (.GetTerms "topics") }}
                        <a class='tag-button' href='{{ .Permalink }}'>
                            <p>{{ .LinkTitle }}</p>
                        </a>
                    {{ end }}
                </nav>
            </header>
            <section class='body'>
                {{ .Content }}
            </section>
        </article>
        <aside class='side'>
            <ul class='tags'>
                {{ with .Site.RegularPages.Related . | first 5 }}
                    <li class='related-tags'>
                        <h3>See Also</h3>
                        <ol>
                            {{ range . }}
                                <li>
                                    <a href='{{ .RelPermalink }}'>
                                        <p>{{ .Title }}</p>
                                    </a>
                                </li>
                            {{ end }}
                        </ol>
                    </li>
                {{ end }}
                {{ range $pluralkey, $pluralvalue := .Site.Taxonomies }}
                    <li class='normal-tags'>
                        <p>{{ title $pluralkey }} <span class='fas fa-caret-right unexpanded'></span><span class='fas fa-caret-down expanded'></span></p>
                        <ul>
                            {{ range $singularkey, $singularvalue := $pluralvalue }}
                                <li>
                                    <a href='{{ $singularvalue.Page.Permalink }}'>
                                        <p>{{ replace (title $singularkey) "-" " " }} <span class='pages'>({{ len $singularvalue.Pages }})</span></p>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </li>
                {{ end }}
            </ul>
        </aside>
    </section>
{{ end }}
{{ define "postscripts" }}
    {{ with .Page.Params.scripts }}
        {{ range . }}
            <script type='text/javascript' src='{{ relURL . }}'></script>
        {{ end }}
    {{ end }}
{{ end }}