{{ define "styles" }}
    <link type='text/css' rel='stylesheet' href='{{ relURL "styles/textcontent.css" }}' />
    <link type='text/css' rel='stylesheet' href='{{ relURL "styles/blog.css" }}' />
{{ end }}

{{ define "main" }}
    <article>
        <h2>{{ .Page.Title }}</h2>
        <p class='blog-date'>{{ .Page.Date.Format "Monday, January 2, 2006" }}</p>
        <ul class='blog-tags list-horizontal-navigation'>
            {{ range (.GetTerms "categories") }}
                <a href='{{ .RelPermalink }}'>
                    <li>{{ .Page.LinkTitle }}</li>
                </a>
            {{ end }}
            {{ range (.GetTerms "areas") }}
                <a href='{{ .RelPermalink }}'>
                    <li>{{ .Page.LinkTitle }}</li>
                </a>
            {{ end }}
            {{ range (.GetTerms "languages") }}
                <a href='{{ .RelPermalink }}'>
                    <li>{{ .Page.LinkTitle }}</li>
                </a>
            {{ end }}
            {{ range (.GetTerms "series") }}
                <a href='{{ .RelPermalink }}'>
                    <li>{{ .Page.LinkTitle }}</li>
                </a>
            {{ end }}
        </ul>
        {{ .Content }}
    </article>
{{ end }}