{{ define "main" }}
    <section class='simplecontent'>
        {{ with .Page.Params.spotlight_type }}
            {{ if eq . "canvas" }}
                <figure class='spotlight'>
                    <canvas id='spotlight'></canvas>
                </figure>
            {{ end }}
        {{ end }}
        {{ if eq (len .Page.RegularPages) 0 }}
            <section class='content'>
                {{ .Content }}
            </section>
        {{ else }}
            <nav class='list'>
                {{ range .Page.Pages }}
                    <a class='preview-button' href='{{ .Page.RelPermalink }}'>
                        <figure>
                            <img src='{{ relURL .Page.Params.spotlight }}' />
                            <figcaption><p>{{ .Page.Title }}</p></figcaption>
                        </figure>
                    </a>
                {{ end }}
            </nav>
        {{ end }}
    </section>
{{ end }}
{{ define "postscripts" }}
    {{ with .Page.Params.spotlight_type }}
        {{ if eq . "canvas" }}
            {{ range $.Page.Params.spotlight }}
                <script type='text/javascript' src='{{ relURL . }}'></script>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}