{{ define "main" }}
    <article class='simplecontent'>
        {{ with .Page.Params.spotlight_type }}
            <figure class='spotlight'>
                {{ if eq . "canvas" }}
                    <canvas id='spotlight'></canvas>
                {{ else }}
                    <img id='spotlight' src='{{ relURL $.Page.Params.spotlight }}' />
                {{ end }}
            </figure>
        {{ end }}
        <section class='content'>
            {{ .Content }}
        </section>
    </article>
{{ end }}
{{ define "postscripts" }}
    {{ with .Page.Params.spotlight_type }}
        {{ if eq . "canvas" }}
            {{ range $.Page.Params.spotlight }}
                <script type='text/javascript' src='{{ relURL . }}'></script>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}