{{ define "main" }}
    <article class='simplecontent'>
        <figure class='spotlight'>
            <canvas id='spotlight'></canvas>
        </figure>
        <section class='content'>
            <section>
                <h1>404</h1>
                <p>Hello there!</p>
                <button class='icon_button' type='button' onclick='javascript:history.back()'>
                    <span class='fas fa-chevron-left'></span>
                    <p>Go Back</p>
                </button>
            </section>
        </section>
    </article>
{{ end }}
{{ define "postscripts" }}
    <script type='text/javascript' src='{{ relURL "scripts/index.js" }}'></script>
{{ end }}