.document_main
{
    grid-auto-rows: minmax(min-content, max-content);
}

/* Classes */
.spotlight
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-areas: "spotlight_title"
                         "spotlight_subtitle";
    align-self: flex-start;
    justify-self: baseline;
    padding: 1vw 1vw 0vw;
}

/* Subclasses */
.spotlight_title
{
    grid-area: spotlight_title;
    display: block;
    align-self: flex-end;
    justify-self: baseline;
    text-align: justify;
}

.spotlight_subtitle
{
    grid-area: spotlight_subtitle;
    display: block;
    align-self: flex-start;
    justify-self: baseline;
    text-align: justify;
    padding: 0vw 1vw;
}