/* main.css: General HTML */
* { outline: 1px solid red; outline-offset: -1px;}
/* =============== Plain Containers =============== */
html
{
    padding: 0vw;
    margin: 0vw;
    height: 100%;
}

body
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(min-content, 20%) auto;
    grid-template-areas: "document_header"
                         "document_main";
    padding: 0vw;
    margin: 0vw;
    height: 100%;
}

/* =============== Collection Containers =============== */
ol, ul
{
    display: block;
    padding: 0vw;
    margin: 0vw;
}

/* =============== Special Containers =============== */
a:link, a:visited
{
    color: inherit;
    text-decoration: none;

    display: inline-block;
    padding: 0vw;
    margin: 0vw;
}

canvas /*******/
{
    display: block;
}

/* =============== Text Containers =============== */
h1 /* Web Title */
{
    font-family: 'Cormorant Garamond', 'Georgia', 'Times New Roman', serif;
    font-size: 12vw;

    display: block;
    padding: 0vw;
    margin: 0vw;
}

@media only screen and (min-width: 700px)
{
    h1
    {
        font-size: 8vw;
    }
}

@media only screen and (min-width: 1300px)
{
    h1
    {
        font-size: 4vw;
    }
}

h2 /* Page Title */
{
    font-family: 'Cormorant Garamond', 'Georgia', 'Times New Roman', serif;
    font-size: 11vw;

    display: block;
    padding: 0vw;
    margin: 0vw;
}

@media only screen and (min-width: 700px)
{
    h2
    {
        font-size: 7vw;
    }
}

@media only screen and (min-width: 1300px)
{
    h2
    {
        font-size: 3vw;
    }
}

h3 /* Page Subtitle */
{
    font-family: 'Cormorant Garamond', 'Georgia', 'Times New Roman', serif;
    font-size: 10vw;

    display: block;
    padding: 0vw;
    margin: 0vw;
}

@media only screen and (min-width: 700px)
{
    h3
    {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 1300px)
{
    h3
    {
        font-size: 2vw;
    }
}

li, p /* Paragraph */
{
    font-family: 'Montserrat', 'Verdana', 'Arial', sans-serif;
    font-size: 5.3vw;
    text-align: left;
    word-break: keep-all;
    word-wrap: break-word;

    display: block;
    padding: 0vw;
    margin: 0vw;
}

@media only screen and (min-width: 700px)
{
    li, p
    {
        font-size: 3.3vw;
    }
}

@media only screen and (min-width: 1300px)
{
    li, p
    {
        font-size: 1.3vw;
    }
}

/* =============== Web Classes =============== */
.document_header
{
    grid-area: document_header;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(min-content, 70%) minmax(min-content, 30%);
    grid-template-areas: "document_title"
                         "document_navigation";
    padding: 1vw 1vw 0.5vw;
    margin: 0vw;
}

@media only screen and (min-width: 1300px)
{
    .document_header
    {
        grid-template-columns: minmax(min-content, 70%) minmax(min-content, 30%);
        grid-template-rows: auto;
        grid-template-areas: "document_title document_navigation";
    }
}

.document_main
{
    grid-area: document_main;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    padding: 0.5vw 1vw 1vw;
    margin: 0vw;
}

/* =============== Web Subclasses =============== */
.document_title
{
    grid-area: document_title;
    align-self: flex-end;
    justify-self: center;
}

@media only screen and (min-width: 1300px)
{
    .document_title
    {
        align-self: center;
        justify-self: flex-start;
    }
}

.document_navigation
{
    grid-area: document_navigation;
    align-self: flex-end;
    justify-self: center;
}

@media only screen and (min-width: 1300px)
{
    .document_navigation
    {
        align-self: center;
        justify-self: flex-end;
    }
}